$yellow: hsl(31, 77%, 52%);
$blue: hsl(184, 100%, 22%);
$green: hsl(179, 100%, 13%);
$text-color: hsla(0, 0%, 100%, 0.75);
$shadow: rgb(100, 100, 100);
$secondary: hsl(0, 0%, 95%);
$deca: 'Lexend Deca', sans-serif;
$shoulders: 'Big Shoulders Display', cursive;
$font-weight:(
    "regular":400,
    "medium": 500,
    "bold":700
);

$font-size:(
    "large":35px,
    "small":15px
);

@mixin flexyboi($flow){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: $flow;
}

*{
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

html, body{
    height: 100%;
    margin: 0 auto;
    background-color: $text-color;
}

main{
    @include flexyboi(row wrap);
    width: 100%;
}

.blue{
    background: $blue;
}

.green{
    background: $green;
}

.yellow{
    background: $yellow;
}

.blue, .green, .yellow{
    max-width: 300px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
}

h1, p{
    color: $secondary;
    padding: 20px;
}

h1{
    text-transform: uppercase;
    font-family: $shoulders;
}

p{
    font-family: $deca;
    line-height: 30px;
    font-weight: map-get($font-weight, regular);
    margin-top: 50px;
}

.icon{
    padding-top: 10px;
    padding-left: 10px;
}

.attribution{
    @include flexyboi;
    margin: 20px;
}

h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: $yellow;
}
